h1, h2, h3 {
    color: #4a4a4a;
}

code {
    font-family: revert;
}

.construction {
    height: 80%;
    margin-left: 2rem;
    margin-top: 2rem;
}

.construction p {
    font-size: 1.5rem;
}

.construction a {
    text-decoration: none;
}

.construction ul {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.construction ul a li {
    list-style: none;
}

.construction ul a {
    text-decoration: none;
    height: 9rem;
    flex: 0 0 20rem;
    background: linear-gradient(to right, #e1e1e1, #eeeeee);
    border-radius: 14px;
    overflow: hidden;
    padding: 1rem;
    box-shadow: 6px 2px 8px #bbbbbb;
    transition: all ease 0.5s;
}

.construction ul a:hover {
    background: linear-gradient(to right, #d5d5d5, #efefef);
    box-shadow: 8px 3px 10px #bebebe;
    transition: all ease 0.5s;
}

.construction ul li p {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #5a5a5a;
}

.construction ul .call-to-blog {
    background: linear-gradient(to right, #e1e1e1, #ffffff);
    border-radius: 14px;
    overflow: hidden;
    padding: 1rem;
    box-shadow: 6px 2px 8px #bbbbbb;
}

.construction ul .call-to-blog li {
    height: 100%;
}

.construction ul .call-to-blog div {
    padding: 12.5% 1rem;
}

.construction ul .call-to-blog p {
    font-weight: 500;
    font-size: 1.5rem;
}

.pagelist {
    height: 80%;
    margin-left: 2rem;
    margin-top: 2rem;
}

.pagelist ul {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.pagelist ul a li {
    list-style: none;
}

.pagelist_img_div {
    height: 10rem;
    max-width: 100%;
    display: block;
}

.pagelist_img_div img {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    
}

.pagelist ul a {
    text-decoration: none;
    width: 10rem;
    height: 30rem;
    flex: 0 0 20rem;
    overflow: hidden;
    flex: 0 0 20rem;
    background: linear-gradient(to right, #e1e1e1, #eeeeee);
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 6px 2px 8px #bbbbbb;
    transition: all ease 0.5s;
}

.pagelist ul a:hover {
    background: linear-gradient(to right, #d5d5d5, #efefef);
    box-shadow: 8px 3px 10px #bebebe;
    transition: all ease 0.5s;
}

.pagelist ul li p {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #5a5a5a;
}

.pagelist ul li ul {
    display: revert;
    flex-wrap: revert;
    margin: 1rem;
}

.pagelist ul li ul li {
    list-style: revert;
}

.hr-solid {
    margin: 2rem 2rem 1rem;
    border-style: none;
    border-top: 2px solid #f5f5f5;
}

@media (max-width: 800px) {
    
    .construction {
        height: 100%;
        margin: 2rem 1rem;
    }
    .construction ul {
        flex-direction: column;
    }
    
    .construction ul a {
        height: 2rem;
        flex: 0 0 7rem;
    }

    .pagelist {
        height: 100%;
        margin: 2rem 1rem;
    }
    .pagelist ul {
        flex-direction: column;
    }
    
    .pagelist ul a {
        flex: 0 0 20.5rem;
        width: 100%;
    }

    .pagelist ul img {
        object-fit: contain;
        display: block;
    }

}

