{% extends "samjd/base.html" %}
{% load static %}
{% load samjd_extras %}

{% block title %}
    Samuel J Drew
{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "samjd/index.css" %}?ver=2">
{% endblock css_files %}

{% block content %}
<div class="pagelist">
    <h2>What have I been up to?</h2>
    <ul>
        {% for project in active_projects %}
            <a href="{% url "project-detail-page" slug=project.slug %}">
                <li>
                    <div class="pagelist_img_div">
                        {% if project.header_image %}
                        <img src="{{ project.header_image.image.url }}" alt="header image">
                        {% endif %}
                    </div>
                    <div>
                        <h4>{{ project.title }}</h4>
                        {% if project.subheading %}
                        <p><strong>{{ project.subheading }}</strong></p>
                        {% endif %}
                        <p>{{ project.blurb|render_markdown|truncatechars_html:512 }}</p>
                    </div>
                </li>
            </a>
        {% endfor %}
    </ul>
    <hr class="hr-solid">
    <h2>Past Projects</h2>
    <ul>
        {% for project in old_projects %}
            <a href="{% url "project-detail-page" slug=project.slug %}">
                <li>
                    <div class="pagelist_img_div">
                        {% if project.header_image %}
                        <img src="{{ project.header_image.image.url }}" alt="header image">
                        {% endif %}
                    </div>
                    <div>
                        <h3>{{ project.title }}</h3>
                        {% if project.subheading %}
                        <p><strong>{{ project.subheading }}</strong></p>
                        {% endif %}
                        <p>{{ project.blurb|render_markdown|truncatechars_html:512 }}</p>
                    </div>
                </li>
            </a>
        {% endfor %}
    </ul>

</div>
{% endblock content %}
{% block script %}
sidebar.classList.toggle('aboutme');
sidebar.classList.toggle('pages');
{% endblock script %}
