{% extends "photos/base.html" %}
{% load static %}

{% block title %}
    Samuel J Drew Photography
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "photos/all-photos.css" %}?ver=2">
    <link rel="stylesheet" href="{% static "photos/photo-post.css" %}?ver=2">
{% endblock css_files %}

{% block content %}
    <section id="all_photos">
        <div>
            <ul>
                {% for photo in all_photos %}
                    {% include "photos/includes/photo-post.html" %}
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock content %}
