{% extends "photos/base.html" %}
{% load static %}


{% block title %}
    {{ post.title }}
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "photos/photo-detail.css" %}?ver=2">
{% endblock css_files %}

{% block content %}
    <div id="summary">
        <section class="big_photo">
            <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
        </section>
        <article class="big_photo_details">
            <div class="big_photo_details__div_left">
                <p>"{{ photo.title }}"</p>
                <address>By {{ photo.photographer }}</address>
            </div>
            <div class="big_photo_details__div_right">
                <p>Taken on <time>{{ photo.date|date:"d M Y" }}</time></p>
                <p>{{ photo.location }}</p>
            </div>
        </article>
    </div>
{% endblock content %}
